// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2024 MediaTek Inc.
 *
 */

#include "camera-ar0430-dual.dtsi"

/ {
	fragment@7 {
		target = <&i2c3>;
		__overlay__ {
			sensor@36 {
				status = "disabled";
			};
		};
	};

	fragment@8 {
		target = <&camsv2>;
		__overlay__ {
			status = "disabled";
		};
	};
};
