config MTK_FSOURCE
	tristate "MediaTek Fsource Support"
	depends on MFD_MT6397
	help
	  If you say yes to this option, support will be included for the
	  built-in MTK PMIC chips.

	  Say m here if you want to include fsource support as a module. This
	  will build a module called "mtk-fsource".

